.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;


  @include media-breakpoint-down(lg) {
    width: 2rem;
    height: 2rem;
  }
}

.carousel-control-prev {
  right: 96px;
  left: initial;

  @include media-breakpoint-down(lg) {
  right: 48px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: $secondary;
  width: 96px;
  height: 96px;
  opacity: 1;
  top: auto;

  @include media-breakpoint-down(lg) {
    bottom: auto;
    width: 48px;
    height: 48px;
    opacity: 0.5;
    top: 0;
  }
}