footer {
  background: $primary-text-color;
  padding-top: 80px;
  padding-bottom: 80px;
  color: $grey-text-color;
}

.footer-section {
  margin-left: 111px;
  margin-right: 111px;
}

.footer-first-part {
  display: flex;
  padding-bottom: 62px;
  border-bottom: 1px solid $grey-text-color;
}

.footer-logo {
  margin-right: auto;
}

.footer-kontakt {
  display: flex;
  gap: 24px;
}

.footer-second-part {
  display: flex;
  margin-top: 62px;
  margin-bottom: 120px;
}

.footer-list {
  display: flex;
  font-size: 14px;
  gap: 48px;
  list-style: none;
  margin-bottom: 0;
  // margin-right: auto;
  padding-left: 0;
}

.footer-item {
  color: $grey-text-color;
  text-decoration: none;
}

// .footer-address-list {
//   display: flex;
//   font-size: 14px;
//   gap: 48px;
//   list-style: none;
//   margin-bottom: 0;
//   padding-left: 0;
// }

.footer-third-part {
  display: flex;
}

.company-logo {
  display: flex;
  gap: 16px;
}