header {
  padding-top: 11px;
  padding-bottom: 11px;
}

.header-logo {
  margin-right: auto;
}

.header-logo-img {
  @include media-breakpoint-down(sm) {
    height: 20px;
    width: 100px;
  }
}

.header-nav-list {
  // display: flex;
  gap: 48px;
  // list-style: none;
  // margin-bottom: 0;
  margin-left: auto;
  margin-right: 42px;
  // padding-left: 0;

  @include media-breakpoint-down(lg) {
    display: none;
    gap: 30px;
  }
}

.header-nav-link {
  color: $primary-text-color;
  font-size: 14px;
  text-decoration: none;
}

.blockSearch {
  margin-top: 30px;

  @include media-breakpoint-up(lg) {
    background-color: $secondary;
    margin-top: 0;
    padding: 30px 24px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    &.active {
      z-index: 3;
      display: block;
    }
  }
}

.dropdown-menu {
  --bs-dropdown-border-color: #f5f0ec;
}

.dropdown-item {
  --bs-dropdown-link-hover-bg: #f5f0ec;
}