.section-intro {
  max-width: 600px;
  margin-right: auto;
  padding-top: 144px;
  padding-bottom: 144px;

  @include media-breakpoint-down(lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


.section-oferta {
  background-color: $grey-text-color;
  padding-top: 120px;
  padding-bottom: 160px;

  @include media-breakpoint-down(lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section-o-firme {
  color: $grey-text-color;
  max-width: 500px;
  margin-left: auto;
  padding-top: 135px;
  padding-bottom: 135px;

  @include media-breakpoint-down(lg) {
    margin-right: auto;
  }
}

.section-realizacje {
  background-color: $bgcolor;
  padding-top: 120px;
  padding-bottom: 160px;
}

.section-kontakt {
  background-color: $grey-text-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-oferta-second {
  // margin-right: 111px;
  margin-left: 111px;
  max-width: 710px;

  @include media-breakpoint-down(lg) {
    // margin-right: 0;
    margin-left: 0;
  }
}

.section-kontakt-second {
  background-color: $green-text-color;
  color: $grey-text-color;
  margin-right: 111px;
  margin-left: 111px;
  padding: 120px 110px;

  @include media-breakpoint-down(lg) {
    margin-right: 0;
    margin-left: 0;
    padding: 60px 50px;
  }
}