.section-oferta {
  padding-top: 120px;
  padding-bottom: 180px;
  background-color: $grey-text-color;
}

.section-realizacje {
  padding-top: 120px;
  padding-bottom: 180px;
  background-color: #dcc1ab;
}

.bg-green {
  background-color: $green-text-color;
}