<div class="row row-cols-1 row-cols-lg-3 g-2 g-xl-6">
  <div class="col">
    <div class="card card-oferta">
      <div class="card-body">
        <img class="card-oferta-img" src="/src/images/Icon1.png" alt="Icon of pencil" width="44" height="44">
        <h3 class="card-title">Projekty</h3>
        <p class="card-oferta-text">Zaprojektujemy Twój ogród w nowoczesnym stylu i z najlepszym wykorzystaniem istniejącej przestrzeni.</p>
        <a class="card-oferta-link stretched-link" href="#">Dowiedz się więcej</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-oferta">
      <div class="card-body">
          <img class="card-oferta-img" src="/src/images/Icon2.png" alt="Icon of eye" width="48" height="44">
          <h3 class="card-title">Wizualizacje</h3>
          <p class="card-oferta-text">Przedstawimy Ci projekty koncepcyjne w postaci wirtualnego spaceru animowanego w technologii 3D.</p>
          <a class="card-oferta-link stretched-link" href="#">Dowiedz się więcej</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-oferta">
      <div class="card-body">
          <img class="card-oferta-img" src="/src/images/Icon3.png" alt="Icon of stars" width="44" height="44">
          <h3 class="card-title">Realizacje</h3>
          <p class="card-oferta-text">Zrealizujemy Twoje marzenie przy użyciu najnowszych rozwiązań i zaawansowanych technologii.</p>
          <a class="card-oferta-link stretched-link" href="#">Dowiedz się więcej</a>
      </div>
    </div>
  </div>
</div>