<footer>
  <div class="container">
    <div class="footer-section">

      <div class="footer-first-part align-items-center">
        <div class="footer-logo">
          <a href="/src/index.html" title="Go to the main page">
            <img class="header-logo-img" src="/src/images/logoWhite.svg" alt="Site logo" width="114" height="19">
          </a>
        </div>
        <div class="footer-kontakt align-items-center">
          <p class="mb-0">Daj znać, co możemy dla Ciebie zrobić!</p>
          <button class="btn btn-primary btn-footer btn-mobile-wide">Skontaktuj się z nami</button>
        </div>
      </div>

      <div class="footer-second-part">
        <ul class="footer-list mr-auto">
          <li><a class="footer-item" href="">Kontakt</a></li>
          <li><a class="footer-item" href="">Instagram</a></li>
          <li><a class="footer-item" href="">Facebook</a></li>
          <li><a class="footer-item" href="">LinkedIn</a></li>
        </ul>
        <ul class="footer-list">
          <li><a class="footer-item" href="tel:000-000-000">000-000-000</a></li>
          <li><a class="footer-item" href="mailto:giarddesign@kontakt.pl">giarddesign@kontakt.pl</a></li>
        </ul>
      </div>
      
      <div class="footer-third-part">
        <p class="mr-auto mb-0">Prawa zastrzeżone © 2022</p>
        <div class="company-logo">
          <p class="mb-0 white-space-nowrap">made by</p>
          <img src="/src/images/logo-full-light.svg" alt="Company logo">
        </div>

      </div>
    </div>

    
    

  </div>
</footer>