<header>
  <nav>
    <div class="container-fluid">
      <a href="/src/index.html" title="Go to the main page">
        <img class="" src="/src/images/logo.svg" alt="Site logo" width="114" height="19">
      </a>

      <ul>
        <li><a href="">Oferta</a></li>
        <li><a href="">O firmie</a></li>
        <li><a href="">Realizacje</a></li>
        <li><a href="">Kontakt</a></li>
      </ul>

      <!-- <a href="">
        <img src="" alt="">
      </a> -->
    </div>
  </nav>
</header>


<!-- <header>
  <nav>
    <div class="container-fluid header-nav">
      <div class="header-logo">
        <a href="/src/index.html" title="Go to the main page">
          <img class="header-logo-img" src="/src/images/logo.svg" alt="Site logo" width="193" height="41">
        </a>
      </div>

      <ul class="header-nav-list">
          <li><a class="header-nav-link" href="/src/index.html#about-us">About us</a></li>
          <li><a class="header-nav-link" href="/src/index.html#team">Team</a></li>
          <li><a class="header-nav-link" href="/src/index.html#start-up">Startups</a></li>
      </ul>
      <a class="btn btn-info btn-sm btn-header" href="/src/index.html#form">CONTACT US</a>
    </div>
  </nav>
</header> -->