<header>
  <nav>
    <div class="container header-nav">
      <div class="header-logo">
        <a href="/src/index.html" title="Go to the main page">
          <img class="header-logo-img" src="/src/images/logo.svg" alt="Site logo" width="114" height="19">
        </a>
      </div>

      <ul class="header-nav-list">
          <li><a class="header-nav-link" href="/src/index.html#oferta">Oferta</a></li>
          <li><a class="header-nav-link" href="/src/index.html#o-firmie">O firmie</a></li>
          <li><a class="header-nav-link" href="/src/index.html#realizacje">Realizacje</a></li>
          <li><a class="header-nav-link" href="/src/index.html#kontakt">Kontakt</a></li>
      </ul>
      <button class="">
        <img src="/src/images/IconNav.svg" alt="">
      </button>
    </div>
  </nav>
</header>