<section class="bg-beige">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2 align-items-center">
      <div class="col-lg-6">
        <div class="section-intro">
          <div>
            <h1 class="title-intro">Nowoczesna aranżacja Twojego ogrodu</h1>
            <p class="text">Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka realizacji. Oferujemy kompleksowy zakres usługz indywidualnym podejściem do każdego projektu.</p>
            <div class="intro-btn">
              <button class="btn btn-primary">Skontaktuj się z nami</button>
              <a class="btn btn-outline-primary btn-arrow-down" href="/src/index.html#realizacje">Zobacz nasze realizacje</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="img-container">
          <img class="img-fluid width" src="/src/images/photo.jpg" alt="House in the garden" width="688" height="737">
        </div>
      </div>

    </div>
  </div>
</section>