<section class="bg-green">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2 align-items-center">
      <div class="col-lg-6 pr-0">
        <div class="img-container">
          <img class="img-fluid width" src="/src/images/photo2.jpg" alt="House in the garden" width="688" height="720">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-o-firme">
          <div class="box">
            <p class="section-name-text section-name-text-grey ">O firmie</p>
            <h2 class="title-ofirme">Tworzymy z <span class="second-title">pasją</span></h2>
            <p class="text">Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą wykwalifikowani projektanci oraz architekci, których zadaniem jest rozpoznanie i realizacja potrzeb każdego Klienta. Nasza specjalizacja to przestrzenie nowoczesne, które charakteryzuje minimalizm, geometria i elegancka prostota. Tworzymy ogrody małoobsługowe, dostosowane do współczesnego trybu życia.</p>
            <button>Poznaj nas bliżej</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>