<section class="section-oferta">
  <div class="container">
    <div class="section-oferta-second">
      <p class="section-name-text" id="oferta">Oferta</p>
      <h2 class="title-oferta">Działamy <span class="second-title">kompleksowo</span></h2>
      <p class="text-second">Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy nowoczesne ogrody przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie projekt, zwizualizujemy go i wcielimy w życie, a na każdym etapie posłużymy radą i wieloletnim doświadczeniem. </p>
    </div>
    <include src="./partials/cards.html"></include> 
  </div>
</section>