<section class="section-realizacje" id="realizacje">
  <div class="container">
    <p class="section-name-text">Realizacje</p>
    <h2 class="title-realizacje">Nasze <span class="second-title">projekty</span></h2>
  </div>
  
  <div class="masonry masonry-overlay gallery" id="masonry">
    <div class="masonry-gutter"></div>
    <div class="masonry-item">
      <a href="images/image1.jpg"><img src="/src/images/image1.jpg" alt="" title=""/></a>
    </div>
    <div class="masonry-item">
      <a href="images/image2.jpg"><img src="/src/images/image2.jpg" alt="" title=""/></a>
    </div>
    <div class="masonry-item">
      <a href="images/image3.jpg"><img src="/src/images/image3.jpg" alt="" title=""/></a>
    </div>
    <div class="masonry-item">
      <a href="images/image4.jpg"><img src="/src/images/image4.jpg" alt="" title=""/></a>
    </div>
    <div class="masonry-item">
      <a href="images/image5.jpg"><img src="/src/images/image5.jpg" alt="" title=""/></a>
    </div>
    <div class="masonry-item">
      <a href="images/image6.jpg"><img src="/src/images/image6.jpg" alt="" title=""/></a>
    </div>
    <div class="masonry-item">
      <a href="images/image7.jpg"><img src="/src/images/image7.jpg" alt="" title=""/></a>
    </div>
    <div class="masonry-item">
      <a href="images/image8.jpg"><img src="/src/images/image8.jpg" alt="" title=""/></a>
    </div>
    <div class="masonry-item">
      <a href="images/image9.jpg"><img src="/src/images/image9.jpg" alt="" title=""/></a>
    </div>
    <div class="masonry-item masonry-item-more">
      <a href="images/image7.jpg"><img src="/src/images/image7.jpg" alt="" title=""/></a>
    </div>
    <div class="masonry-item masonry-item-more">
      <a href="images/image8.jpg"><img src="/src/images/image8.jpg" alt="" title=""/></a>
    </div>
    <div class="masonry-item masonry-item-more">
      <a href="images/image9.jpg"><img src="/src/images/image9.jpg" alt="" title=""/></a>
    </div>

    <button class="btn btn-outline-primary btn-arrow-down masonry-more" id="masonry-more" type="button">Rozwiń</button>
  </div>

</section>