// Include parts of Bootstrap in custom.scss or styles.scss

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
// Включіть будь-які перевизначення змінних за замовчуванням тут
@import "./variables.scss";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
// @import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/containers";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";

@import "~bootstrap/scss/card";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/tables";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// @import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here

// Layout
@import "./layout/header";
@import "./layout/footer";

// Components

// Utilities
@import "./utilities";