.bg-green {
  background-color: $green-text-color;
}

.bg-beige {
  background-color: $bgcolor;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-auto {
  margin-right: auto;
}

.white-space-nowrap {
  white-space: nowrap;
}

.active-md {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.active-sm {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.mr-2 {
  margin-right: 20px;
}
