.bg-green {
  background-color: $green-text-color;
}

// .grey {
//   color: $grey-text-color;
// }

.width {
  width: 100%;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

.pr-0 {
  padding-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-auto {
  margin-right: auto;
}