.bg-green {
  background-color: $green-text-color;
}

.bg-beige {
  background-color: $bgcolor;
}

.width {
  width: 100%;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

.pr-0 {
  padding-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-auto {
  margin-right: auto;
}

// .mt-20 {
//   margin-top: 20px;
// }

.white-space-nowrap {
  white-space: nowrap;
}