$primary: #1b5b31;
$secondary:#f5f0ec;
$bgcolor: #dcc1ab;
$primary-text-color: #111;
$grey-text-color:#f5f0ec;
$green-text-color: #1b5b31;

$font-family-sans-serif: Inter, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif-additional: Montserrat, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$body-color: $primary-text-color;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1294px,
);

$grid-gutter-width: 2rem;
// $container-padding-x: 2rem;

// Spacing
$spacer: 10px;
$spacers: (
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
);

// Typography
$headings-font-family: $font-family-sans-serif-additional;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.75;
$h2-font-size: $font-size-base * 3;

// Links
$link-color: $green-text-color;
// $link-color: #198754;
// $link-shade-percentage:                   2% !default;

//  Cards // 
$card-border-radius: 28px;
$card-border-width: 0;
$card-spacer-y: 48px;
$card-spacer-x: 40px;
$card-title-spacer-y: 12px;

// Buttons //
$input-btn-padding-y: 12px;
$input-btn-padding-x: 24px;
// $btn-padding-y-sm: 10px;
// $btn-padding-x-sm: 24px;
$btn-border-radius: 200px;

// Carousel //
$carousel-control-prev-icon-bg:      url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none"><path fill="#000" d="M10.795 22.94a1.5 1.5 0 0 0 0 2.12l9.546 9.547a1.5 1.5 0 1 0 2.121-2.122L13.977 24l8.485-8.485a1.5 1.5 0 1 0-2.12-2.122l-9.547 9.546Zm25.35-.44h-24.29v3h24.29v-3Z"/></svg>');
$carousel-control-next-icon-bg:      url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none"><path fill="#000" d="M37.205 25.06a1.5 1.5 0 0 0 0-2.12l-9.546-9.547a1.5 1.5 0 1 0-2.121 2.122L34.023 24l-8.485 8.485a1.5 1.5 0 1 0 2.12 2.122l9.547-9.546Zm-25.35.44h24.29v-3h-24.29v3Z"/></svg>');

